{{/* The html head section.
    Parameters:
    .Ministry: CatalogMinistry
    .Date: NewDateToday()
    */ -}}
    
{{$borderColor := "#528d54" -}}
{{$hiliteColor := "#337337" -}}
{{$titleBackgroundColor := "#3e713f" -}}
{{$titleForegroundColor := "#fff" -}}
{{if eq .Ministry "tbo"}}
    {{$borderColor = "#424242"}}
    {{$hiliteColor = "#d15541"}}
    {{$titleBackgroundColor = "#222222"}}
{{else if eq .Ministry "core"}}
    {{$borderColor = "#840"}}
    {{$hiliteColor = "#5b2d00"}}
    {{$titleBackgroundColor = "#452209"}}
{{else if eq .Ministry "faith-freedom"}}
    {{$borderColor = "rgb(189,40,43)"}}
    {{$hiliteColor = "rgb(224,108,110)"}}
    {{$titleBackgroundColor = "rgb(126,27,28)"}}
{{else if eq .Ministry "ask-pastor"}}
    {{$borderColor = "#04b"}}
    {{$hiliteColor = "#38f"}}
    {{$titleBackgroundColor = "#036"}}
{{end -}}

/* full page */
body {
    background-color: black;
    margin: 15px;
    font-family: "Arial", sans-serif;
    color: #777;
}

a {
    color: #999;
}

p.clear {
    clear: both;
    display: none;
}

span.visibility {
    font-size: 75%;
}

/* messages */
div.message {
    border: 2px solid {{print $borderColor}};
    border-radius: 5px;
    margin-bottom: 8px;
}

div.message span.visibility {
    color: #aaa;
}

div.message p.description {
    display: inline-block;
    margin: 10px 8px 4px 8px;
}

div.message div.title {
    padding:1px;
    border: 0px solid;
    border-radius: 3px;
    background-color: {{print $titleBackgroundColor}};
    color: {{print $titleForegroundColor}};	
}

div.message div.title span.name {
    font-weight: bold;
}

div.message table.player td.video {
    text-align: center;
    vertical-align: middle;
}

div.message table.player, div.message div.resources {
    margin-bottom: 12px;
}

/* message resources */
div.message p.resource {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.message p.resource span.filename {
    color: {{print $borderColor}};
    font-size: 75%;
}

/* seri resources */
div.seri p.resource {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.seri p.resource span.filename {
    color: {{print $borderColor}};
    font-size: 75%;
}

/* series list */

div.ministry-blurb {
    margin: 0px 24px 0px 8px;
}

div.series-seri a { color: {{print $borderColor}}; }
div.series-seri a:hover { color: {{print $hiliteColor}}; }

div.series-seri {
    border: 2px solid {{print $borderColor}};
    border-radius: 5px;
    margin-bottom: 8px;
}

div.series-seri span.visibility {
    color: #666;
}

div.thumbnail {
    float: left;
    margin-right: 3px;
    width: 72px;
    height: 128px; 
    position: relative;
}

div.thumbnail img {
    /* scale to fit */
    max-width: 100%;
    max-height: 100%;
    /* center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.series-seri a.title {
    font-size:20px;
    font-weight: bold;
}

div.series-seri span.label {
    display: inline-block;
    font-weight: bolder;
    vertical-align: top;
}

div.series-seri span.message-list {
    font-size: small;
}

div.series-seri span.longtext {
    display: inline-block;
    margin: 10px 8px 4px 8px;
    height: 3em;
    line-height: 1.0;
    font-size: smaller;
}

/* Resource lists */
div.resource-list p.resource {
    margin-top: 6px;
    margin-bottom: 0px;
    padding-bottom: 6px;
    border-bottom: 1px solid #222;
}

div.resource-list p.resource span.filename {
    color: {{print $borderColor}};
    font-size: 75%;
}

div.resource-list p.resource span.source {
    display: inline-block;
    padding-left: 42px;
    font-size: smaller;
    font-style: italic;
}

