{{/* The html footer section.
    Parameter Map:
    .Date: NewDateToday()
    */ -}}
                                    </div>

                                <div class="paragraph" style="text-align:right;">
                                    <font color="#a1a1a1" size="1">
                                       Updated {{.Date}} (v2.0)
                                    </font>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-wrap">
        <div class="container">
            <div class="footer">
                <div class='wsite-elements wsite-footer'>
                    <div>
                        <div class="wsite-multicol">
                            <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                <table class="wsite-multicol-table">
                                    <tbody class="wsite-multicol-tbody">
                                        <tr class="wsite-multicol-tr">
                                            <td class="wsite-multicol-col" style="width:38.372093023256%; padding:0 15px;">
                                                <div class="paragraph" style="text-align:left;">
                                                    &copy; Word of Life Ministries 2012-2021<br />All Rights Reserved</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end footer-wrap -->
</div><!-- /.wrapper -->

</body>

</html>