{{/* HTML page that displays a list of series. Consists of a brief ministry introduction and a
list of the series for that ministry
    
Paramater map:
    .Series   Slice of series to display
    .Ministry CatalogMinistry
    .View     CatalogView
    .Order    string - sort order of this page: az, za, 09, 90
    .Date     NewDateToday
*/ -}}

{{template "catalog.pre-content.html" .}}

<h1>{{ .Ministry.Description }} Catalog</h1>

{{template "catalog.ministry-div.html" .Ministry}}

{{/* Searching */}}
<!-- Search Bar and Controls -->
<div class="search-bar">
    <input type="text" id="searchInput" placeholder="Enter text to search..." class="">
    <button id="searchButton" class="search-button">Search</button>
    <button id="clearSearchButton" class="search-button" style="display:none;">Clear</button>
    <span id="resultsMessage" class="search-results"></span>
</div>

{{/* Sorting */}}
<!-- Sorting Controls -->
<div class="sort">
    <p>
        <span class="label">Sort by: </span>
        <select class="sortingSelect" onchange="javascript:location.href = this.value;">
            <option value="{{GetCatalogFileNameForSeriList .Ministry .View "az"}}" {{if eq .Order "az"}}selected{{end}}>Title</option>
            <option value="{{GetCatalogFileNameForSeriList .Ministry .View "09"}}" {{if eq .Order "09"}}selected{{end}}>Date - Oldest first</option>
            <option value="{{GetCatalogFileNameForSeriList .Ministry .View "90"}}" {{if eq .Order "90"}}selected{{end}}>Date - Recent first</option>
        </select>
        <br/>
    </p>
</div>

{{/* Series */}}
<div class="series">
    {{- range .Series }} 
        {{template "catalog.seri-div.html" .}}
    {{- end }}
</div>

{{template "catalog.search.js" .}}
{{template "catalog.post-content.html" .}}
