{{/* Paramater map:
    .Seri     CatalogSeri
    .Ministry CatalogMinistry
    .Date     NewDateToday
*/ -}}

{{template "catalog.pre-content.html" .}}

<h1>{{ .Seri.Name }}</h1>
<table>
    <tr>
        {{/* Series artwork */}}
        {{if .Seri.Thumbnail}}
            <td valign="top">
                <img src="{{.Seri.Thumbnail}}" width="128" alt="Series Thumbnail"/>
            </td>
        {{end}}
        <td valign="top">
            {{/* Series description */}}
            <p>
                {{.Seri.SpeakerString}}
                /
                {{.Seri.DateString}}
            </p>
            {{.Seri.Description}}
        </td>
    </tr>
</table>

{{/* Messages */}}
{{- range .Seri.Messages }} 
    {{template "catalog.message.html" .}}
{{- end }}

{{template "catalog.post-content.html" .}}
