{{/* HTML page that displays one series. Consists of the series jacket, title, description, list
of all messages in the series, and booklets

Paramater map:
    .Seri     CatalogSeri
    .Ministry CatalogMinistry
    .Date     NewDateToday
*/ -}}

{{template "catalog.pre-content.html" .}}

<div class="seri-info">
    <p class="title">{{ .Seri.Name }}</p>

    <div class="header">
        {{/* Series artwork */}}
        {{if .Seri.Thumbnail}}
            <img src="{{.Seri.Thumbnail}}" width="128" alt="Series Thumbnail"/>
        {{end}}
        
        {{/* Series description */}}
        <p class="attribution">
            {{.Seri.SpeakerString}}
            /
            {{.Seri.DateString}}
        </p>
        <p class="description">{{.Seri.Description}}</p>
        <div class="clear" />
    </div>
</div>


{{/* Messages */}}
<div class="seri-messages">
    {{- range .Seri.Messages }} 
        {{template "catalog.message-div.html" .}}
    {{- end }}
</div>

{{/* Series Booklets and Resources */}}
<div class="seri-resources">
    {{if or .Seri.Booklets}}
        <h2>Series Booklets</h2>
        {{- range .Seri.Booklets}}
            {{template "catalog.resource-p.html" .}}
        {{- end}}
    {{end}}
    {{if .Seri.Resources}}
        <h2>All Message Resources</h2>
        {{- range .Seri.Resources}}
            {{template "catalog.resource-p.html" .}}
        {{- end}}
    {{end}}
</div>

{{template "catalog.post-content.html" .}}
