{{/*
Paramater map:
. OnlineResource to output in this template
*/ -}}

<div style="display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center; gap: 8px; margin-bottom: 8px;">
    {{/* Resource name & link */}}
    <div style="flex-grow: 4;">
        <img src="{{.GetIcon}}" style="max-height: 14px;"/>
        <a href="{{.URL}}" target="wolmGuide">{{or .Name .GetFileName}}</a>
    </div>

    {{/* File name on the right */}}
    <div style="flex-grow: 1; text-align: right; color: var(--pico-muted-color); font-size: 0.8rem;">
        <span>({{.GetFileName}})</span>
    </div>

</div>