{{/* 
    HTML <div></div> that describes one seri
    USAGE: To be used in a list of series

    Paramater map:
        . CatalogSeri
*/ -}}

<div class="series-seri">
    {{/* Title Bar */}}
    {{if ne .Visibility "public"}}
        <p class="visibility">[{{.Visibility}}]</p>
    {{end}}
    <p class="title searchable">
        <a class="title" href={{.GetCatalogFileName .View}}>{{.Name}}</a>
    </p>
    <p class="clear" />
    <hr />

    <div class="thumbnail">
        {{$defaultThumbnail := printf "static/%s.default.thumbnail.png" .GetMinistry}}
        <a class="title" href={{.GetCatalogFileName .View}}>
            <img src="{{or .Thumbnail $defaultThumbnail}}" alt="{{printf "%s Cover" .Name}}"/>
        </a>
    </div>
    <div class="info">
        <p class="searchable">
            <span class="speakers">{{.SpeakerString}}</span>
            <span style="width:24px;">&nbsp;</span>
            <span class="date">{{.DateString}}</span>
            <br />
            {{if .MessageTitlesString}}
                <span class="messages-label">{{len .Messages}} Messages:</span>
                <span class="text message-list">
                    {{.MessageTitlesString}}
                </span>
            {{end}}
        </p>
        <div class="clear"></div>

        {{/* Description */}}
        {{if .Description}}
            <p class="description searchable">
                <span>{{.Description}}</span>
            </p>
        {{end}}
    </div>
</div>
