{{/* 
    HTML <div></div> that describes a single message.
    USAGE: To be included in a list of messages.

    Paramater map:
        . CatalogMessage
*/ -}}

{{$maxEmbeddedVideosPerPage := 8}}

{{- /* message */ -}}
<div class="message">
    {{if eq (index .Series 0).Index 100}}
        <p class="section-title">Post-service Ministry and Q&A</p>
    {{end}}
    {{/* Title Bar */}}
    {{if ne .Visibility "public"}}
        <p class="visibility">[{{.Visibility}}]</p>
    {{end}}
    <p class="title">{{.Name}}</p>
    <p class="clear"></p>
    <hr />

    {{/* Message playback and info */}}
    <div class="video">
        {{if .Video}}
            {{if le (index .Series 0).Index $maxEmbeddedVideosPerPage}}
                {{.Video.GetEmbeddedVideo 320}}
            {{else}}
                <a href="{{.Video.URL}}" target="wolmVideo">
                    {{/*<img src="{{.Video.GetThumbnail}}" width="160px;" alt="{{.Video.GetClassifier}}" style="margin-left:80px;"/>*/}}
                    <span class="click-for-video">click for video</span>
                </a>
            {{end}}

        {{else}}
            <p class="no-video">no video available</p>

        {{end}}
        <div class="audio">
            {{if .Audio}}
                <audio controls style="width:100%;">
                    <source src="{{.Audio.URL}}" type="audio/mpeg" />
                    Your browser does not support audio playback.
                </audio>
            {{end}}
        </div>
    </div>
    <div class="info">
        <p>
            {{if .Speakers}}
                <span class="speakers">{{.SpeakerString}}</span>
                <br />
            {{end}}
            {{if .Date}} 
                <span class="date">{{.DateString}}</span>
                <br />
            {{end}}
            <br/>
            <span class="description">{{.Description}}</span>
        </p>
    </div>
    <div class="clear" />

    {{- /* Resources */}}
    {{if .Resources}}
        <div class="resources">
            {{range .Resources}}
                {{template "catalog.resource-p.html" .}}
            {{end}}
        </div>
    {{end}}
</div>
