{{/* 
    HTML <div></div> that describes a single message.
    USAGE: To be included in a list of messages.

    Paramater map:
        . CatalogMessage
*/ -}}

{{$maxEmbeddedVideosPerPage := 18}}

{{- /* message */ -}}
{{/* Section Title for special messages */}}
{{if eq (index .Series 0).Index 100}}
    <h2>Post-service Ministry and Q&A</h2>
{{end}}

{{/* Title Bar */}}
{{if ne .Visibility "public"}}
    <p style="color: var(--pico-muted-color); font-size: 0.7rem;">[{{.Visibility}}]</p>
{{end}}
<h3 style="margin-bottom: 4px;">{{.Name}}</h3>

<div style="border: 1px solid var(--pico-primary-border); border-radius: 16px; padding: 8px; margin-bottom: 16px;">
    <div style="display: flex; flex-flow: row wrap; gap: 8px; margin-bottom: 8px;">
        
        {{/* Message playback and info */}}
        <div style="flex-grow: 1; min-width: 200px; max-width: 320px;">
            {{/* Video */}}
            <div style="margin-bottom: 12px; min-height: 40px; min-width: 160px; text-align: center;">
                {{if .Video}}
                    {{if le (index .Series 0).Index $maxEmbeddedVideosPerPage}}
                        {{.Video.GetEmbeddedVideo 320}}
                    {{else}}
                        <a href="{{.Video.URL}}" target="wolmVideo">
                            {{/*<img src="{{.Video.GetThumbnail}}" width="160px;" alt="{{.Video.GetClassifier}}" style="margin-left:80px;"/>*/}}
                            <i style="font-size: 0.8rem; color: var(--pico-muted-color);">click for video</i>
                        </a>
                    {{end}}
                {{else}}
                    <i style="color: var(--pico-muted-color);">no video available</i>
                {{end}}
            </div>

            {{/* Audio */}}
            <div style="text-align: center;">
                {{if .Audio}}
                    <audio controls style="min-width: 200px;">
                        <source src="{{.Audio.URL}}" type="audio/mpeg" />
                        Your browser does not support audio playback.
                    </audio>
                {{end}}
            </div>
        </div>
        <div style="flex-grow: 4; min-width: 200px; max-width: 60%;">
            <span>
                {{/* Speaker, Date, Description */}}
                {{if .Speakers}}
                    {{.SpeakerString}}<br />
                {{end}}
                {{if .Date}} 
                    <span style="font-size: 0.7rem;">{{.DateString}}</span><br />
                {{end}}
                {{.Description}}
            </span>
        </div>
    </div>

    {{- /* Resources */}}
    {{if .Resources}}
        <div>
            {{range .Resources}}
                {{template "catalog.resource-p.html" .}}
            {{end}}
        </div>
    {{end}}
</div>
