{{/* HTML page that displays one series. Consists of the series jacket, title, description, list
of all messages in the series, and booklets

Paramater map:
    .Seri     CatalogSeri
    .Ministry CatalogMinistry
    .Date     NewDateToday
*/ -}}

{{template "catalog.pre-content.html" .}}

<h1>{{ .Seri.Name }}</h1>

<div style="display: flex;">
    {{/* Series artwork */}}
    <div style="max-width: 96px;">
        {{if .Seri.Thumbnail}}
            <img src="{{.Seri.Thumbnail}}" alt="Series Thumbnail" style="max-width: 100%"/>
        {{end}}
    </div>
    
    {{/* Series description */}}
    <div>
        {{.Seri.SpeakerString}}
        /
        {{.Seri.DateString}}
    </div>
</div>
<div>
    {{.Seri.Description}}
</div>

<hr/>


{{/* Messages */}}
<div>
    {{- range .Seri.Messages }} 
        {{template "catalog.message-div.html" .}}
    {{- end }}
</div>

{{/* Series Booklets and Resources */}}
<div>
    {{if .Seri.Booklets}}
        <h2>Series Booklets</h2>
        <div style="border-radius: 16px; border: 1px solid var(--pico-secondary-border); padding: 8px; margin-bottom: 16px;">
            {{- range .Seri.Booklets}}
                {{template "catalog.resource-p.html" .}}
            {{- end}}
        </div>
    {{end}}
    {{if .Seri.Resources}}
        <h2>All Message Resources</h2>
        <div style="border-radius: 16px; border: 1px solid var(--pico-secondary-border); padding: 8px; margin-bottom: 16px;">
            {{- range .Seri.Resources}}
                {{template "catalog.resource-p.html" .}}
            {{- end}}
        </div>
    {{end}}
</div>

{{template "catalog.post-content.html" .}}
