{{/* The html head section.
Parameters:
.Ministry: CatalogMinistry
.Date: NewDateToday()
*/ -}}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Media Catalog - WORD OF LIFE MINISTRIES</title>
    <meta property="og:site_name" content="WORD OF LIFE MINISTRIES" />
    <meta property="og:title" content="Media Catalog" />
    <meta property="og:description" content="{{.Ministry.Description}} - {{.Date}}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="catalog.{{.Ministry}}.css">
</head>

<body class="seri">
    <!-- icon -->
    <div class="wol-breadcrumb">
        <a href="http://www.wordoflifemn.org/catalog--resources.html">
            <img src="static/all.wordoflife.logo-xxsmall-light.png" alt="WORD OF LIFE MINISTRIES" />
            <span>Word Of Life Ministries</span>
        </a>
    </div>

    <div class="message-list">
